html {
	font-size: 62.5%;
}

body {
	box-sizing: border-box;
	margin: 0;
}

main {
	align-items: center;
	display: flex;
	flex-direction: column;	
}

button {
	background-color: #000000;
	border: 1px solid black;
	border-radius: none;
	color: #ffffff;
	height: 5rem;
	padding: 1rem;
	width: auto;
}

.achievement {
	border: 2px solid black;
	font-size: 2.5rem;
	padding: 1.5rem 2.5rem;
}

#achievements {
	text-align: center;
}

#achievement-title {
	font-size: 3rem;
}

#actionInput {
	padding: 1.5rem;
	width: 30rem;
}

#helpBox {
	background-color: white;
	color: black;
	font-size: 2rem;
	height: 100%;
	position: fixed;
	text-align: center;
	width: 100%;	
}

#inputZone {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

#inventoryZone,
#seenZone {
	font-size: 2.3rem;
	margin-bottom: 1.5rem;
	text-align: center;	
}

#inventoryZone span,
#seenZone span {
	font-size: 2.8rem;
	font-weight: bold;
}

#priorZone {
	text-align: center;
}

#storyZone {
	border: 2px solid black;
	font-size: 2.5rem;
	margin: 2rem 0;
	padding: 1rem;	
}

#storyZone,
#priorZone,
#userExperienceZone {
	width: 60%;
}

@media (max-width: 768px) {
	#storyZone,
	#priorZone,
	#userExperienceZone {
		width: 90%;
	}
}